body{background: #FFF;}

/* index usage */

.like-container{filter: url('#filter');}
.like-cnt{
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);     background: rgba(20,20,20,0.3);     width: 60px;
  height: 60px;
  border-radius: 40%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}

#mon-cnt{
  cursor: pointer;
  position:absolute;
  left:50%;
  top:55%;
  margin-left: -8px;
  color: #000;
  z-index:999;
}

li{
  list-style: none;
}

#ref-cnt{
  cursor: pointer;
  position:absolute;
  left:50%;
  bottom:10px;
  z-index:999;
  color: #3b5998;
}

.like-btn{
  color: #fff;
}

.icon-gift{
  font-size: 22pt;
}

.cv-btn{
  width:379px;
  height:52px;
  margin-left: -183px;
  position: absolute;
  left:50%;
  top: 35%;
  background: url('src/cv_button_g.png') no-repeat;
  display: inline-block;

}

.cv-btn:hover{
  width:379px;
  height:52px;
  position: absolute;
  left:50%;
  top: 35%;
  background: url('src/cv_button_hover.png') no-repeat;
  display: inline-block;
}

::-moz-selection { background: transparent;}
::selection {background: transparent;}

/*metrics formatting*/
.back-metrics{
  width: 40%;
  height: 300px;
  background-color: #fff;
  position:absolute;
  top:5%;
}

#aly-banner{
  text-align: center;
  position: relative;
  top:30px;
}

#sec1{
  display: flex;
  height: 50px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#abrv{
  float:left;
}

#textfield{
  margin-left: 12%;
  margin-right: 12%;

}

#descpt{
  padding-left: 5%;
  padding-right: 5%;

}

#metrics-left{
margin-left: 5%;
}

#metrics-right{
  left: 55%;
  top: 5%;
}

#metrics-view{
  height: 80%;
  width: 99%;
  position:absolute;
  left:0px;
  top:55%;
  z-index: 9;
}

#chart{
  position:absolute;
  left: 20px;
  top: 40px;
}

.dashboard{
  display: block;
  width: 1020px;
  margin: auto;
}

#index-divider{
  height:2px;
  width:100%;

  background-color: rgba(20,20,20,0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}
/* cv usage */



body{
  color: #000;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.back-btn{
  width: 200px;
  height: 45px;
  margin-left: -100px;

  position:absolute;
  left: 50%;
  background: url('src/back_button.png') no-repeat;
  display:inline-block;
}

.back-btn:hover{
  width: 200px;
  background: url('src/back_button_hover.png') no-repeat;
  display:inline-block;
}

#back-parent{
  position:relative;
  height:45px;
}

#divider{
  display:block;
  width:100%;
  height:2px;
  background-color: rgba(20,20,20,0.3);
}

.half-c{
  width:47.5%;
  height:auto;
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;

  background: rgba(20,20,20,0.1);
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.content-container{
  margin: 10px;
}

#profile-pic{
  float:left;
  height:100px;
  width: auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 10px;
}

#name-container{
  float:left;
  margin: 10px;
  text-align: left;
}

#personal{
  float:left;
}

#edu{
  float:right;
}

.full-c{
  width:100%;
  height:auto;
  display: inline-block;

  margin-top: 10px;
  margin-bottom: 10px;

  background: rgba(20,20,20,0.1);
  border-radius: 10px;
  -moz-border-radius: 10px;
}
h1{
  color: #333333;
  font-size: 22pt;
  font-family: 'Open Sans', sans-serif;
}

h2{
  text-decoration:underline;
  font-weight:bold;
  font-size:14pt;
  font-family: 'Open Sans', sans-serif;
}

h3{
  font-weight:bold;

}

p{
  font-family: 'Open Sans', sans-serif;
  font-size:12pt;
}

#bullet{
  font-size: 12pt;
  list-style: circle;
}

#cv-head{
  display: block;
  position:static;
  height:50px;
  width:auto;
  margin: 0 auto;
}




/*
Icomoon icon-related content
*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p2gybm');
  src:  url('fonts/icomoon.eot?p2gybm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p2gybm') format('truetype'),
    url('fonts/icomoon.woff?p2gybm') format('woff'),
    url('fonts/icomoon.svg?p2gybm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-gift:before {
  content: "\e99f";
}
